CapaGUI/Connected Services/ServicioServicioTurismo/ServicioServicioTurismo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Servicios/" targetNamespace="http://Servicios/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertServiceTurismo" type="tns:insertServiceTurismo" />
  <xs:element name="insertServiceTurismoResponse" type="tns:insertServiceTurismoResponse" />
  <xs:complexType name="insertServiceTurismo">
    <xs:sequence>
      <xs:element name="idTurismo" type="xs:int" />
      <xs:element name="idReserva" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertServiceTurismoResponse">
    <xs:sequence />
  </xs:complexType>
</xs:schema>