CapaGUI/Connected Services/ServicioCheckIn/ServicioCheckIn.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Servicios/" targetNamespace="http://Servicios/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertarCheckIn" type="tns:insertarCheckIn" />
  <xs:element name="insertarCheckInResponse" type="tns:insertarCheckInResponse" />
  <xs:complexType name="insertarCheckIn">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fecha" type="xs:string" />
      <xs:element name="pagoRestante" type="xs:int" />
      <xs:element name="idReserva" type="xs:int" />
      <xs:element name="idRecursoHumano" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCheckInResponse">
    <xs:sequence />
  </xs:complexType>
</xs:schema>